* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
    display: none;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}
.gradient-bg {
        background: linear-gradient(135deg, #7a5af8 0%, #5e3fd9 100%);
      }
      .shadow-custom {
        box-shadow: 0 4px 6px -1px rgba(122, 90, 248, 0.1),
          0 2px 4px -1px rgba(122, 90, 248, 0.06);
      }